* {
    margin: 0;
    padding: 0;
}
.title{
    width: 600px;
    height: 50px;
    font-size: 30px;
    color:rgb(255, 106, 0);
    margin-left: 35%;
    position: absolute;
    top: 30px;
    font-family: Arial;
    font-weight: bold;
    transition: all 1s ease;
}
body{
    background: #1b2838;
    font-family: Arial;
}
.slider{
    margin: auto;
    width: 100%;
    height: 790px;
    overflow: hidden;
    border: 0px solid #fff;
}
.sider-middle{
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%, -50%);

}
.navigation{
    position: absolute;
    bottom: 16px;
    left: 49%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: .7;
    border-radius: 10px;
    transition: all .4s ease;
}
.bar:hover {
    opacity: 0.8;
    transform: scale(1.1);
}
input[name = "r"] {
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide{
    width: 100%;
    transition: all 1s ease;
}

.slide img {
    width: 100%;
    height: 100%;
}
#r1:checked ~ #s1{
    margin-top: 0;
}
#r2:checked ~ #s2 {
    margin-top: -57%;
}
#r3:checked ~ #s3{
    margin-top: -114%;
}

.top{
    height: 600px;
    width: 100%;
    font-size: 20px;
    color: white;
}
.start{
    float: left;
    height: 600px;
    width: 50%;
    padding-left: 10px;
}
.sp{
    transition: 2s;
}
.vr{
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 1px;
    height: 400px;
    position: absolute;
    top: 900px;
    left: 50%;
}
.reg{
    height: 450px;
    width: 500px;
    border-radius: 9px;
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 850px;
    right: 7%;
    float: right;
    background-color: rgba(255, 255, 255, 0.05);
}
.textfield{
    padding-left: 20px;
    color: white;
    width: 400px;
    height: 40px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: relative;
    left: 40px;
    top: 30px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    transition: all 1s ease;
}
.bt{
    width: 170px;
    height: 40px;
    padding: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 9px;
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 3px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.2);
    position: relative;
    top: 40px;
    margin-left: 32.5%;
    transition: 3s linear;
}
.bt:hover{
    border: #1b2838;
}
.bottom{
    padding-top: 20px;
    background: rgb(50, 50, 50);
    height: 60px;
    width: 100%;
}
hr{
    border: none;
    height: 1px;
    background-color: rgb(121, 121, 121);
    width: 1000px;
    margin: auto;
}
.botText{
    color:rgb(99, 99, 99);
    position: relative;
    left: 25%;
}
a{
    color: rgb(200, 200, 200);
    text-decoration: none;
}
a:hover {
    color: white;
}

.sidenav {
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 54%;
    overflow-x: hidden;
    padding-top:30px;
}

.sidenav:focus,
.sidenav:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -35px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}


.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}